In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Categories.csv')

In [3]:
df.columns

Index(['id', 'Name'], dtype='object')

In [4]:
df

   id                         Name
0   1                         Beer
1   2                         Wine
2   3                      Spirits
3   4  RTDs/High-Strength Premixes
4   5                  Cider/Perry

In [5]:
df1 = pd.read_csv('Channel_Volume.csv')

In [6]:
df1

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","2613,845506"
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","2513,025824"
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","2421,088595"
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","2422,128432"
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","2439,33622"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2017,"Sunday, 31 December 2017","16514,21084"
8464,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2018,"Monday, 31 December 2018","16522,15239"
8465,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2019,"Tuesday, 31 December 2019","16544,60644"
8466,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2020,"Thursday, 31 December 2020","16626,5149"
8467,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2021,"Friday, 31 December 2021","16664,638"

In [ ]:
df2 = pd.read_csv('Company_Share_GBO_unit.csv', sep=';')

In [ ]:
df2

In [ ]:
df2.columns

In [ ]:
df2.isnull().sum()

In [ ]:
df2 = df2.dropna(axis = 0, how = 'all')

In [ ]:
df2

In [ ]:
df2.columns

In [ ]:
df2['Location'].unique()

In [ ]:
df2.loc[df2['Location'] == 6.0]

In [ ]:
df2['Industry'].unique()

In [ ]:
df2.loc[df2['Industry'] == 'Alcoholic Drinks']

In [ ]:
df2['Subcategory_ID'].unique()

In [ ]:
df2.loc[df2['Subcategory_ID'] == 1.0]

In [ ]:
df2.columns

In [ ]:
df2['Hierarchy_Level'].unique()

In [ ]:
df2['Data_Type'].unique()

In [ ]:
df2['Global_Brand_Owner'].unique()

In [ ]:
df2['Unit'].unique()

In [ ]:
df2.loc[df2['Unit'] == '000 litres']

In [ ]:
df2.columns

In [ ]:
df2

In [ ]:
df2['Year_text'].unique()

In [ ]:
df2['Volume'].unique()

In [ ]:
df3 = pd.read_csv('Locations.csv', sep=';')

In [ ]:
df3

In [ ]:
df3 = df3.dropna(axis = 1, how = 'all')

In [ ]:
df3

In [ ]:
df3.index

In [ ]:
df3.T

In [ ]:
df3.reset_index().T

In [ ]:
df3

In [ ]:
df3.T

In [ ]:
df3.columns

In [ ]:
df3

In [ ]:
df3 = df3.set_index('id').T

In [ ]:
df3.columns

In [ ]:
df3.columns

In [ ]:
df3 = df3.reset_index(drop=True)

In [ ]:
df3.reset_index()

In [ ]:
df3.columns

In [ ]:
df4 = pd.read_csv('Market_Sizes.csv')

In [ ]:
df4

In [ ]:
df4.columns

In [ ]:
df4['Location'].unique()

In [ ]:
df4['Industry'].unique()

In [ ]:
df4['Subcategory'].unique()

In [ ]:
df4['Hierarchy_Level'].unique()

In [ ]:
df4['Data_Type'].unique()

In [ ]:
df4['Unit'].unique()

In [ ]:
df4['Current_Constant'].unique()

In [ ]:
df4.columns

In [ ]:
df4['Currency_Conversion'].unique()

In [ ]:
df4['Year'].unique()

In [ ]:
df4['Year_date'].unique()

In [ ]:
df4['RSP'].unique()

In [ ]:
df4['Volume'].nunique()

In [ ]:
df4.columns

In [ ]:
df4['Year_minus_2016'].unique()

In [ ]:
df4['Year_minus_2022'].unique()

In [ ]:
df4['Edition'].unique()

In [ ]:
df5= pd.read_csv('Subcategories.csv')

In [ ]:
df5

In [ ]:
df5.columns

In [ ]:
df5 = df5.reset_index(drop=True)

In [ ]:
df5.columns

In [ ]:
df5.index

In [ ]:
df3 = pd.read_csv('Locations.csv', sep=';',index_col=False)

In [ ]:
df3

In [ ]:
df3.set_index('id')

In [ ]:
df3 = df3.T

In [ ]:
df3 = df3.T

In [ ]:
df3 = df3.dropna(axis = 1, how = 'all')

In [ ]:
df3

In [ ]:
df3.set_index('id')

In [ ]:
df3

In [ ]:
df3.set_index('id')

In [ ]:
df3 = df3.set_index('id')

In [ ]:
df3

In [ ]:
df3.T

In [ ]:
df3= df3.T

In [ ]:
df3

In [ ]:
df3.reset_index()

In [ ]:
df3.columns

In [ ]:
df3['Region']

In [ ]:
df3.index

In [ ]:
df3.set_index('id')

In [ ]:
df3