In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Categories.csv')

In [6]:
df.columns

Index(['id', 'Name'], dtype='object')

In [7]:
df

   id                         Name
0   1                         Beer
1   2                         Wine
2   3                      Spirits
3   4  RTDs/High-Strength Premixes
4   5                  Cider/Perry

In [8]:
df1 = pd.read_csv('Channel_Volume.csv')

In [9]:
df1

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","2613,845506"
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","2513,025824"
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","2421,088595"
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","2422,128432"
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","2439,33622"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2017,"Sunday, 31 December 2017","16514,21084"
8464,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2018,"Monday, 31 December 2018","16522,15239"
8465,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2019,"Tuesday, 31 December 2019","16544,60644"
8466,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2020,"Thursday, 31 December 2020","16626,5149"
8467,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,million litres,2021,"Friday, 31 December 2021","16664,638"

In [10]:
df2 = pd.read_csv('Company_Share_GBO_unit.csv', sep=';')

In [11]:
df2

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [12]:
df2.columns

Index(['Location', 'Industry', 'Subcategory_ID', 'Hierarchy_Level',
       'Data_Type', 'Global_Brand_Owner', 'Unit', 'Year_text', 'Year_date',
       'Year_minus_2016', 'Volume'],
      dtype='object')

In [13]:
df2.isnull().sum()

Location              21668
Industry              21668
Subcategory_ID        21668
Hierarchy_Level       21668
Data_Type             21668
Global_Brand_Owner    21668
Unit                  21668
Year_text             21668
Year_date             21668
Year_minus_2016       21668
Volume                21668
dtype: int64

In [14]:
df2 = df2.dropna(axis = 0, how = 'all')

In [15]:
df2

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
5,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg A/S,million litres,2016.0,31-12-16,4.0,"11121,69868"
7,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-Dec-16,4.0,"6252,38259"
9,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31 12 2016,4.0,"7834,494901"
...,...,...,...,...,...,...,...,...,...,...,...
43327,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016.0,"Saturday, 31 Dec 2016",4.0,"223,0247261"
43329,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31 12 2016,4.0,"78,55588126"
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [16]:
df2.columns

Index(['Location', 'Industry', 'Subcategory_ID', 'Hierarchy_Level',
       'Data_Type', 'Global_Brand_Owner', 'Unit', 'Year_text', 'Year_date',
       'Year_minus_2016', 'Volume'],
      dtype='object')

In [17]:
df2['Location'].unique()

array([8., 7., 3., 1., 6., 4., 2., 5.])

In [18]:
df2.loc[df2['Location'] == 6.0]

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
18563,6.0,Alcoholic Drinks,9.0,2.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-Dec-16,4.0,"295,2988078"
18565,6.0,Alcoholic Drinks,9.0,2.0,Total Volume,Dragonyte Brewery,million litres,2017.0,"Sun, 31 December 2017",5.0,"327,8219829"
18567,6.0,Alcoholic Drinks,9.0,2.0,Total Volume,Dragonyte Brewery,million litres,2018.0,31 12 2018,6.0,"327,0270668"
18569,6.0,Alcoholic Drinks,9.0,2.0,Total Volume,Dragonyte Brewery,million litres,2019.0,31-12-19,7.0,"341,2825967"
18571,6.0,Alcoholic Drinks,9.0,2.0,Total Volume,Dragonyte Brewery,million litres,2020.0,31 12 2020,8.0,"515,1909418"
...,...,...,...,...,...,...,...,...,...,...,...
41743,6.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2017.0,31-12-17,5.0,"271,5326695"
41745,6.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2018.0,31-Dec-18,6.0,"269,4842455"
41747,6.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2019.0,31-Dec-19,7.0,"273,4744613"
41749,6.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2020.0,"Thursday, 31 Dec 2020",8.0,"274,640693"
41751,6.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2021.0,31-Dec-21,9.0,"278,9949661"

In [19]:
df2['Industry'].unique()

array(['Alcoholic Drinks'], dtype=object)

In [20]:
df2.loc[df2['Industry'] == 'Alcoholic Drinks']

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
5,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg A/S,million litres,2016.0,31-12-16,4.0,"11121,69868"
7,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-Dec-16,4.0,"6252,38259"
9,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31 12 2016,4.0,"7834,494901"
...,...,...,...,...,...,...,...,...,...,...,...
43327,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016.0,"Saturday, 31 Dec 2016",4.0,"223,0247261"
43329,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31 12 2016,4.0,"78,55588126"
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [21]:
df2['Subcategory_ID'].unique()

array([13.,  8.,  4.,  9., 12., 10., 11.,  7.,  3.,  2.,  6.,  5.,  1.,
       17., 16., 14., 15.])

In [22]:
df2.loc[df2['Subcategory_ID'] == 1.0]

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
5953,8.0,Alcoholic Drinks,1.0,3.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"442,7930849"
5955,8.0,Alcoholic Drinks,1.0,3.0,Total Volume,Anheuser-Busch InBev NV,million litres,2017.0,"Sun, 31 December 2017",5.0,"444,8841859"
5957,8.0,Alcoholic Drinks,1.0,3.0,Total Volume,Anheuser-Busch InBev NV,million litres,2018.0,31-12-18,6.0,"452,3452287"
5959,8.0,Alcoholic Drinks,1.0,3.0,Total Volume,Anheuser-Busch InBev NV,million litres,2019.0,31 12 2019,7.0,"454,8540911"
5961,8.0,Alcoholic Drinks,1.0,3.0,Total Volume,Anheuser-Busch InBev NV,million litres,2020.0,31-Dec-20,8.0,"488,6525196"
...,...,...,...,...,...,...,...,...,...,...,...
24785,5.0,Alcoholic Drinks,1.0,3.0,Total Volume,Others,million litres,2017.0,31-12-17,5.0,"6,000130364"
24787,5.0,Alcoholic Drinks,1.0,3.0,Total Volume,Others,million litres,2018.0,31-12-18,6.0,"5,750886897"
24789,5.0,Alcoholic Drinks,1.0,3.0,Total Volume,Others,million litres,2019.0,"Tuesday, 31 Dec 2019",7.0,"6,077533911"
24791,5.0,Alcoholic Drinks,1.0,3.0,Total Volume,Others,million litres,2020.0,31 12 2020,8.0,"6,674982102"
24793,5.0,Alcoholic Drinks,1.0,3.0,Total Volume,Others,million litres,2021.0,31-12-21,9.0,"7,170049506"

In [23]:
df2.columns

Index(['Location', 'Industry', 'Subcategory_ID', 'Hierarchy_Level',
       'Data_Type', 'Global_Brand_Owner', 'Unit', 'Year_text', 'Year_date',
       'Year_minus_2016', 'Volume'],
      dtype='object')

In [24]:
df2['Hierarchy_Level'].unique()

array([1., 2., 3., 4.])

In [25]:
df2['Data_Type'].unique()

array(['Total Volume'], dtype=object)

In [26]:
df2['Global_Brand_Owner'].unique()

array(['Anheuser-Busch InBev NV', 'Heineken NV', 'Carlsberg A/S', ...,
       'Eliza Spring LLC', 'Forty Creek Distillery Ltd',
       'White Rock Distilleries Inc'], dtype=object)

In [27]:
df2['Unit'].unique()

array(['million litres', '000 litres'], dtype=object)

In [28]:
df2.loc[df2['Unit'] == '000 litres']

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
24915,1.0,Alcoholic Drinks,17.0,1.0,Total Volume,Heineken NV,000 litres,2016.0,31 12 2016,4.0,"0,545677495"
24917,1.0,Alcoholic Drinks,17.0,1.0,Total Volume,Heineken NV,000 litres,2017.0,31-Dec-17,5.0,"0,55121634"
24919,1.0,Alcoholic Drinks,17.0,1.0,Total Volume,Heineken NV,000 litres,2018.0,31-Dec-18,6.0,"0,606443429"
24921,1.0,Alcoholic Drinks,17.0,1.0,Total Volume,Heineken NV,000 litres,2019.0,31-Dec-19,7.0,"2,352877598"
24923,1.0,Alcoholic Drinks,17.0,1.0,Total Volume,Heineken NV,000 litres,2020.0,31-12-20,8.0,"3,123034674"
...,...,...,...,...,...,...,...,...,...,...,...
43327,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016.0,"Saturday, 31 Dec 2016",4.0,"223,0247261"
43329,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31 12 2016,4.0,"78,55588126"
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [29]:
df2.columns

Index(['Location', 'Industry', 'Subcategory_ID', 'Hierarchy_Level',
       'Data_Type', 'Global_Brand_Owner', 'Unit', 'Year_text', 'Year_date',
       'Year_minus_2016', 'Volume'],
      dtype='object')

In [30]:
df2

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
5,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg A/S,million litres,2016.0,31-12-16,4.0,"11121,69868"
7,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-Dec-16,4.0,"6252,38259"
9,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31 12 2016,4.0,"7834,494901"
...,...,...,...,...,...,...,...,...,...,...,...
43327,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016.0,"Saturday, 31 Dec 2016",4.0,"223,0247261"
43329,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31 12 2016,4.0,"78,55588126"
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [31]:
df2['Year_text'].unique()

array([2016., 2017., 2018., 2019., 2020., 2021.])

In [32]:
df2['Volume'].unique()

array(['35506,37732', '18482,5958', '11121,69868', ..., '3,708013795',
       '307,7663666', '8263,549123'], dtype=object)

In [33]:
df3 = pd.read_csv('Locations.csv', sep=';')

In [34]:
df3

,id,0,1,0.1,2,0.2,3,0.3,4,0.4,5,0.5,6,0.6,7,0.7,8,0.8
0,Region,NaN,Asia Pacific,NaN,Australasia,NaN,Eastern Europe,NaN,Latin America,NaN,Middle East and Africa,NaN,North America,NaN,Western Europe,NaN,World,NaN
1,Country,NaN,Asia Pacific,NaN,Australasia,NaN,Eastern Europe,NaN,Latin America,NaN,Middle East and Africa,NaN,North America,NaN,Western Europe,NaN,World,NaN

In [35]:
df3 = df3.dropna(axis = 1, how = 'all')

In [36]:
df3

,id,1,2,3,4,5,6,7,8
0,Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
1,Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [37]:
df3.index

RangeIndex(start=0, stop=2, step=1)

In [38]:
df3.T

                         0                       1
id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

In [39]:
df3.reset_index().T

                            0                       1
index                       0                       1
id                     Region                 Country
1                Asia Pacific            Asia Pacific
2                 Australasia             Australasia
3              Eastern Europe          Eastern Europe
4               Latin America           Latin America
5      Middle East and Africa  Middle East and Africa
6               North America           North America
7              Western Europe          Western Europe
8                       World                   World

In [40]:
df3

,id,1,2,3,4,5,6,7,8
0,Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
1,Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [41]:
df3.T

                         0                       1
id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

In [42]:
df3.columns

Index(['id', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')

In [43]:
df3

,id,1,2,3,4,5,6,7,8
0,Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
1,Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [44]:
df3 = df3.set_index('id').T

In [45]:
df3.columns

Index(['Region', 'Country'], dtype='object', name='id')

In [46]:
df3.columns

Index(['Region', 'Country'], dtype='object', name='id')

In [47]:
df3 = df3.reset_index(drop=True)

In [48]:
df3.reset_index()

id  index                  Region                 Country
0       0            Asia Pacific            Asia Pacific
1       1             Australasia             Australasia
2       2          Eastern Europe          Eastern Europe
3       3           Latin America           Latin America
4       4  Middle East and Africa  Middle East and Africa
5       5           North America           North America
6       6          Western Europe          Western Europe
7       7                   World                   World

In [49]:
df3.columns

Index(['Region', 'Country'], dtype='object', name='id')

In [50]:
df4 = pd.read_csv('Market_Sizes.csv')

In [51]:
df4

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27.000,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28.000,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40.000,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51.000,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62.000,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1.204,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1.214,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1.227,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1.240,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1.256,14,8,2022

In [52]:
df4.columns

Index(['Location', 'Industry', 'Subcategory', 'Hierarchy_Level', 'Data_Type',
       'Unit', 'Current_Constant', 'Currency_Conversion', 'Year', 'Year_date',
       'RSP', 'Volume', 'Year_minus_2016', 'Year_minus_2022', 'Edition'],
      dtype='object')

In [53]:
df4['Location'].unique()

array([1, 2, 3, 4, 5, 6, 7])

In [54]:
df4['Industry'].unique()

array(['Alcoholic Drinks'], dtype=object)

In [55]:
df4['Subcategory'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [56]:
df4['Hierarchy_Level'].unique()

array([3, 2, 4, 1])

In [57]:
df4['Data_Type'].unique()

array(['Total Value RSP'], dtype=object)

In [58]:
df4['Unit'].unique()

array(['USD million'], dtype=object)

In [59]:
df4['Current_Constant'].unique()

array(['Historic Constant 2021 Prices, Forecast Constant 2021 Prices'],
      dtype=object)

In [60]:
df4.columns

Index(['Location', 'Industry', 'Subcategory', 'Hierarchy_Level', 'Data_Type',
       'Unit', 'Current_Constant', 'Currency_Conversion', 'Year', 'Year_date',
       'RSP', 'Volume', 'Year_minus_2016', 'Year_minus_2022', 'Edition'],
      dtype='object')

In [61]:
df4['Currency_Conversion'].unique()

array(['Historic Fixed 2021 Exchange Rates, Forecast Fixed 2021 Exchange Rates'],
      dtype=object)

In [62]:
df4['Year'].unique()

array([2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026])

In [63]:
df4['Year_date'].unique()

array(['31-Dec-16', '31-Dec-17', '31-Dec-18', '31-Dec-19', '31-Dec-20',
       '31-Dec-21', '31-Dec-22', '31-Dec-23', '31-Dec-24', '31-Dec-25',
       '31-Dec-26', '31-Dec-87', '31-Dec-66', '31-Dec-76'], dtype=object)

In [64]:
df4['RSP'].unique()

array([301.   , 318.   , 458.   , ...,   6.708,   6.793,   6.892])

In [65]:
df4['Volume'].nunique()

995

In [66]:
df4.columns

Index(['Location', 'Industry', 'Subcategory', 'Hierarchy_Level', 'Data_Type',
       'Unit', 'Current_Constant', 'Currency_Conversion', 'Year', 'Year_date',
       'RSP', 'Volume', 'Year_minus_2016', 'Year_minus_2022', 'Edition'],
      dtype='object')

In [67]:
df4['Year_minus_2016'].unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [68]:
df4['Year_minus_2022'].unique()

array([-2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8])

In [69]:
df4['Edition'].unique()

array([2022])

In [70]:
df5= pd.read_csv('Subcategories.csv')

In [71]:
df5

    id  Category                         Name
0    1         1                          Ale
1    2         1  Weissbier/Weizen/Wheat Beer
2    3         1        Flavoured/Mixed Lager
3    4         1               Standard Lager
4    5         1                      Sorghum
5    6         1                        Stout
6    7         1           Non Alcoholic Beer
7    8         1                        Lager
8    9         1                    Dark Beer
9   10         1                Premium Lager
10  11         1             Mid-Priced Lager
11  12         1                Economy Lager
12  13         1                         Beer
13  14         2                         Wine
14  15         3                      Spirits
15  16         4  RTDs/High-Strength Premixes
16  17         5                  Cider/Perry

In [72]:
df5.columns

Index(['id', 'Category', 'Name'], dtype='object')

In [73]:
df5 = df5.reset_index(drop=True)

In [74]:
df5.columns

Index(['id', 'Category', 'Name'], dtype='object')

In [75]:
df5.index

RangeIndex(start=0, stop=17, step=1)

In [76]:
df3 = pd.read_csv('Locations.csv', sep=';',index_col=False)

In [77]:
df3

,id,0,1,0.1,2,0.2,3,0.3,4,0.4,5,0.5,6,0.6,7,0.7,8,0.8
0,Region,NaN,Asia Pacific,NaN,Australasia,NaN,Eastern Europe,NaN,Latin America,NaN,Middle East and Africa,NaN,North America,NaN,Western Europe,NaN,World,NaN
1,Country,NaN,Asia Pacific,NaN,Australasia,NaN,Eastern Europe,NaN,Latin America,NaN,Middle East and Africa,NaN,North America,NaN,Western Europe,NaN,World,NaN

In [78]:
df3.set_index('id')

,0,1,0.1,2,0.2,3,0.3,4,0.4,5,0.5,6,0.6,7,0.7,8,0.8
id,,,,,,,,,,,,,,,,,
Region,NaN,Asia Pacific,NaN,Australasia,NaN,Eastern Europe,NaN,Latin America,NaN,Middle East and Africa,NaN,North America,NaN,Western Europe,NaN,World,NaN
Country,NaN,Asia Pacific,NaN,Australasia,NaN,Eastern Europe,NaN,Latin America,NaN,Middle East and Africa,NaN,North America,NaN,Western Europe,NaN,World,NaN

In [79]:
df3 = df3.T

In [80]:
df3 = df3.T

In [81]:
df3 = df3.dropna(axis = 1, how = 'all')

In [82]:
df3

,id,1,2,3,4,5,6,7,8
0,Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
1,Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [83]:
df3.set_index('id')

,1,2,3,4,5,6,7,8
id,,,,,,,,
Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [84]:
df3

,id,1,2,3,4,5,6,7,8
0,Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
1,Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [85]:
df3.set_index('id')

,1,2,3,4,5,6,7,8
id,,,,,,,,
Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [86]:
df3 = df3.set_index('id')

In [87]:
df3

,1,2,3,4,5,6,7,8
id,,,,,,,,
Region,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World
Country,Asia Pacific,Australasia,Eastern Europe,Latin America,Middle East and Africa,North America,Western Europe,World

In [88]:
df3.T

id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

In [89]:
df3= df3.T

In [90]:
df3

id                  Region                 Country
1             Asia Pacific            Asia Pacific
2              Australasia             Australasia
3           Eastern Europe          Eastern Europe
4            Latin America           Latin America
5   Middle East and Africa  Middle East and Africa
6            North America           North America
7           Western Europe          Western Europe
8                    World                   World

In [91]:
df3.reset_index()

id index                  Region                 Country
0      1            Asia Pacific            Asia Pacific
1      2             Australasia             Australasia
2      3          Eastern Europe          Eastern Europe
3      4           Latin America           Latin America
4      5  Middle East and Africa  Middle East and Africa
5      6           North America           North America
6      7          Western Europe          Western Europe
7      8                   World                   World

In [92]:
df3.columns

Index(['Region', 'Country'], dtype='object', name='id')

In [93]:
df3['Region']

1              Asia Pacific
2               Australasia
3            Eastern Europe
4             Latin America
5    Middle East and Africa
6             North America
7            Western Europe
8                     World
Name: Region, dtype: object

In [94]:
df3.index

Index(['1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')

In [95]:
df3.set_index('id')

KeyError: "None of ['id'] are in the columns"

In [ ]:
df3

In [ ]:
df1.isnull().sum()

In [ ]:
df1['Category'].unique()

In [96]:
filt = df1['Category']== nan
df1[filt]

NameError: name 'nan' is not defined

In [97]:
updated_df1 = df1.drop(df1[df1['Category'].isna()].index)

In [98]:
updated_df1.isnull().sum()

Location            0
Industry            0
Edition             0
Category            0
Subcategory         0
Hierarchy_Level     0
Data_Type           0
Outlet              0
Outlet_Hierarchy    0
Unit                0
Year_text           0
Year_date           0
Volume              0
dtype: int64

In [99]:
df1.loc[df1['Unit']=='million litres','Volume']

0       2613,845506
1       2513,025824
2       2421,088595
3       2422,128432
4        2439,33622
           ...
8463    16514,21084
8464    16522,15239
8465    16544,60644
8466     16626,5149
8467      16664,638
Name: Volume, Length: 3596, dtype: object

In [100]:
updated_df1.dtypes

Location             int64
Industry            object
Edition              int64
Category            object
Subcategory         object
Hierarchy_Level      int64
Data_Type           object
Outlet              object
Outlet_Hierarchy     int64
Unit                object
Year_text            int64
Year_date           object
Volume              object
dtype: object

In [101]:
updated_df1['Volume'] = updated_df1['Volume'].str.replace(',','.')

In [102]:
updated_df1['Volume']

0       2613.845506
1       2513.025824
2       2421.088595
3       2422.128432
4        2439.33622
           ...
8463    16514.21084
8464    16522.15239
8465    16544.60644
8466     16626.5149
8467      16664.638
Name: Volume, Length: 8464, dtype: object

In [103]:
updated_df1 = updated_df1.astype({"Volume":"float"})

In [104]:
updated_df1['Volume']

0        2613.845506
1        2513.025824
2        2421.088595
3        2422.128432
4        2439.336220
            ...
8463    16514.210840
8464    16522.152390
8465    16544.606440
8466    16626.514900
8467    16664.638000
Name: Volume, Length: 8464, dtype: float64

In [105]:
updated_df1.loc[updated_df1['Unit']=='million litres','Volume'] = updated_df1.loc[updated_df1['Unit']=='million litres','Volume'] * 1000

In [106]:
updated_df1.loc[updated_df1['Unit']=='million litres','Volume']

0       2.613846e+06
1       2.513026e+06
2       2.421089e+06
3       2.422128e+06
4       2.439336e+06
            ...
8463    1.651421e+07
8464    1.652215e+07
8465    1.654461e+07
8466    1.662651e+07
8467    1.666464e+07
Name: Volume, Length: 3594, dtype: float64

In [107]:
updated_df1.loc[updated_df1['Unit']=='million litres','Unit'] = '1000 litres'

In [108]:
updated_df1.loc[updated_df1['Unit']=='1000 litres','Unit']

0       1000 litres
1       1000 litres
2       1000 litres
3       1000 litres
4       1000 litres
           ...
8463    1000 litres
8464    1000 litres
8465    1000 litres
8466    1000 litres
8467    1000 litres
Name: Unit, Length: 3594, dtype: object

In [109]:
updated_df1['Unit']

0       1000 litres
1       1000 litres
2       1000 litres
3       1000 litres
4       1000 litres
           ...
8463    1000 litres
8464    1000 litres
8465    1000 litres
8466    1000 litres
8467    1000 litres
Name: Unit, Length: 8464, dtype: object

In [110]:
updated_df1.loc[updated_df1['Unit']=='000 litres','Unit'] = '1000 litres'

In [111]:
updated_df1

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2007,"Monday, 31 December 2007",2.613846e+06
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2008,"Wednesday, 31 December 2008",2.513026e+06
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2009,"Thursday, 31 December 2009",2.421089e+06
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2010,"Friday, 31 December 2010",2.422128e+06
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2011,"Saturday, 31 December 2011",2.439336e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2017,"Sunday, 31 December 2017",1.651421e+07
8464,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2018,"Monday, 31 December 2018",1.652215e+07
8465,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2019,"Tuesday, 31 December 2019",1.654461e+07
8466,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2020,"Thursday, 31 December 2020",1.662651e+07
8467,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2021,"Friday, 31 December 2021",1.666464e+07

In [112]:
updated_df1['Unit'].unique()

array(['1000 litres'], dtype=object)

In [113]:
updated_df1.to_csv('Channel Volume1_0.csv', index = False)

In [114]:
updated_df1['Year_date'] = updated_df1['Year_date'].str.split(',').str[1]

In [115]:
updated_df1['Year_date'] = updated_df1['Year_date'].str.split(' ').str[1] + '-12-'+ updated_df1['Year_date'].str.split(' ').str[3]

In [116]:
updated_df1['Year_date']

0       31-12-2007
1       31-12-2008
2       31-12-2009
3       31-12-2010
4       31-12-2011
           ...
8463    31-12-2017
8464    31-12-2018
8465    31-12-2019
8466    31-12-2020
8467    31-12-2021
Name: Year_date, Length: 8464, dtype: object

In [117]:
df4

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27.000,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28.000,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40.000,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51.000,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62.000,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1.204,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1.214,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1.227,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1.240,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1.256,14,8,2022

In [118]:
df4['Subcategory'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [124]:
df7= pd.read_csv('Company_Share_GBO_unit_clean_V1_3_3.csv')

In [125]:
df7

,Unnamed: 0,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
1,1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,31-12-16,4.0,"18482,5958"
2,2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,million litres,2016.0,31-12-16,4.0,"11121,69868"
3,3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-12-16,4.0,"6252,38259"
4,4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31-12-16,4.0,"7834,494901"
...,...,...,...,...,...,...,...,...,...,...,...,...
21663,21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,000 litres,2016.0,31-12-16,4.0,"223,0247261"
21664,21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31-12-16,4.0,"78,55588126"
21665,21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31-12-16,4.0,"3,708013795"
21666,21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
21667,21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-12-16,4.0,"8263,549123"

In [126]:
df7['Volume'] = df7['Volume'].str.replace(',','.')

In [127]:
df7 = df7.astype({"Volume":"float"})

In [128]:
df7.dtypes

Unnamed: 0              int64
Location              float64
Industry               object
Subcategory_ID        float64
Hierarchy_Level       float64
Data_Type              object
Global_Brand_Owner     object
Unit                   object
Year_text             float64
Year_date              object
Year_minus_2016       float64
Volume                float64
dtype: object

In [129]:
df7['Unit'].unique()

array(['million litres', '000 litres'], dtype=object)

In [130]:
df7.loc[df7['Unit']=='million litres','Volume'] = df7.loc[df7['Unit']=='million litres','Volume'] * 1000

In [131]:
df7.loc[df7['Unit']=='million litres','Unit'] = '1000 litres'

In [132]:
df7.columns

Index(['Unnamed: 0', 'Location', 'Industry', 'Subcategory_ID',
       'Hierarchy_Level', 'Data_Type', 'Global_Brand_Owner', 'Unit',
       'Year_text', 'Year_date', 'Year_minus_2016', 'Volume'],
      dtype='object')

In [133]:
df7.drop('Unnamed: 0',axis=1,inplace=True)

In [134]:
df7

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,1000 litres,2016.0,31-12-16,4.0,3.550638e+07
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,1000 litres,2016.0,31-12-16,4.0,1.848260e+07
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,1000 litres,2016.0,31-12-16,4.0,1.112170e+07
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,1000 litres,2016.0,31-12-16,4.0,6.252383e+06
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.834495e+06
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,000 litres,2016.0,31-12-16,4.0,2.230247e+02
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31-12-16,4.0,7.855588e+01
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31-12-16,4.0,3.708014e+00
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,3.077664e+02
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-12-16,4.0,8.263549e+03

In [135]:
df7

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,1000 litres,2016.0,31-12-16,4.0,3.550638e+07
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,1000 litres,2016.0,31-12-16,4.0,1.848260e+07
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,1000 litres,2016.0,31-12-16,4.0,1.112170e+07
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,1000 litres,2016.0,31-12-16,4.0,6.252383e+06
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.834495e+06
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,000 litres,2016.0,31-12-16,4.0,2.230247e+02
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31-12-16,4.0,7.855588e+01
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31-12-16,4.0,3.708014e+00
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,3.077664e+02
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-12-16,4.0,8.263549e+03

In [136]:
df7.loc[df7['Unit']=='000 litres','Unit'] = '1000 litres'

In [137]:
df7['Unit'].unique()

array(['1000 litres'], dtype=object)

In [138]:
df7.to_csv('Company_Share_GBO_unit_clean_V1_3_3_1.csv', index = False)

In [139]:
df7

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,1000 litres,2016.0,31-12-16,4.0,3.550638e+07
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,1000 litres,2016.0,31-12-16,4.0,1.848260e+07
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,1000 litres,2016.0,31-12-16,4.0,1.112170e+07
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,1000 litres,2016.0,31-12-16,4.0,6.252383e+06
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.834495e+06
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,1000 litres,2016.0,31-12-16,4.0,2.230247e+02
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.855588e+01
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,1000 litres,2016.0,31-12-16,4.0,3.708014e+00
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,1000 litres,2016.0,31-12-16,4.0,3.077664e+02
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,1000 litres,2016.0,31-12-16,4.0,8.263549e+03

In [140]:
df4

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27.000,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28.000,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40.000,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51.000,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62.000,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1.204,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1.214,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1.227,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1.240,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1.256,14,8,2022

In [141]:
df4['Volume'] = df4['Volume'] * 1000

In [142]:
df4.to_csv('Market_sizesv1_0.csv',index = False)

In [143]:
x = pd.read_csv('Company_Share_GBO_unit_clean_V1_3_3_1.csv')

In [144]:
x

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,1000 litres,2016.0,31-12-16,4.0,3.550638e+07
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,1000 litres,2016.0,31-12-16,4.0,1.848260e+07
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,1000 litres,2016.0,31-12-16,4.0,1.112170e+07
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,1000 litres,2016.0,31-12-16,4.0,6.252383e+06
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.834495e+06
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,1000 litres,2016.0,31-12-16,4.0,2.230247e+02
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.855588e+01
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,1000 litres,2016.0,31-12-16,4.0,3.708014e+00
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,1000 litres,2016.0,31-12-16,4.0,3.077664e+02
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,1000 litres,2016.0,31-12-16,4.0,8.263549e+03

In [145]:
market= pd.read_csv('Market_sizesv1_0.csv')

In [146]:
channel = pd.read_csv('Channel Volume1_0.csv')

In [147]:
channel

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2007,"Monday, 31 December 2007",2.613846e+06
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2008,"Wednesday, 31 December 2008",2.513026e+06
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2009,"Thursday, 31 December 2009",2.421089e+06
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2010,"Friday, 31 December 2010",2.422128e+06
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,1000 litres,2011,"Saturday, 31 December 2011",2.439336e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8459,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2017,"Sunday, 31 December 2017",1.651421e+07
8460,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2018,"Monday, 31 December 2018",1.652215e+07
8461,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2019,"Tuesday, 31 December 2019",1.654461e+07
8462,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2020,"Thursday, 31 December 2020",1.662651e+07
8463,7,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Store-Based Retailing,1,1000 litres,2021,"Friday, 31 December 2021",1.666464e+07

In [148]:
market

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27000.0,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28000.0,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40000.0,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51000.0,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62000.0,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1204.0,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1214.0,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1227.0,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1240.0,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1256.0,14,8,2022

In [149]:
market['Subcategory'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [150]:
market['Hierarchy_Level'].unique()

array([3, 2, 4, 1])

In [151]:
market['Year'].unique()

array([2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026])

In [152]:
channel['Category'].unique()

array(['Beer', 'Cider/Perry', 'RTDs/High-Strength Premixes', 'Spirits',
       'Wine'], dtype=object)

In [153]:
cat  = pd.read_csv('Subcategories.csv')

In [154]:
cat['Name'].unique()

array(['Ale', 'Weissbier/Weizen/Wheat Beer', 'Flavoured/Mixed Lager',
       'Standard Lager', 'Sorghum', 'Stout', 'Non Alcoholic Beer',
       'Lager', 'Dark Beer', 'Premium Lager', 'Mid-Priced Lager',
       'Economy Lager', 'Beer', 'Wine', 'Spirits',
       'RTDs/High-Strength Premixes', 'Cider/Perry'], dtype=object)

In [155]:
cat

    id  Category                         Name
0    1         1                          Ale
1    2         1  Weissbier/Weizen/Wheat Beer
2    3         1        Flavoured/Mixed Lager
3    4         1               Standard Lager
4    5         1                      Sorghum
5    6         1                        Stout
6    7         1           Non Alcoholic Beer
7    8         1                        Lager
8    9         1                    Dark Beer
9   10         1                Premium Lager
10  11         1             Mid-Priced Lager
11  12         1                Economy Lager
12  13         1                         Beer
13  14         2                         Wine
14  15         3                      Spirits
15  16         4  RTDs/High-Strength Premixes
16  17         5                  Cider/Perry

In [156]:
channel['Subcategory'].unique()

array(['Beer', 'Cider/Perry', 'RTDs/High-Strength Premixes', 'Spirits',
       'Wine'], dtype=object)

In [157]:
share = pd.read_csv('Company_Share_GBO_unit_clean_V1_3_3_1.csv')

In [158]:
share

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,1000 litres,2016.0,31-12-16,4.0,3.550638e+07
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,1000 litres,2016.0,31-12-16,4.0,1.848260e+07
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,1000 litres,2016.0,31-12-16,4.0,1.112170e+07
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,1000 litres,2016.0,31-12-16,4.0,6.252383e+06
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.834495e+06
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,1000 litres,2016.0,31-12-16,4.0,2.230247e+02
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.855588e+01
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,1000 litres,2016.0,31-12-16,4.0,3.708014e+00
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,1000 litres,2016.0,31-12-16,4.0,3.077664e+02
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,1000 litres,2016.0,31-12-16,4.0,8.263549e+03

In [159]:
share['Global_Brand_Owner'].nunique()

1022

In [160]:
market

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27000.0,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28000.0,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40000.0,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51000.0,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62000.0,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1204.0,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1214.0,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1227.0,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1240.0,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1256.0,14,8,2022

In [161]:
market.groupby("Subcategory")['RSP'].agg([min,max,sum,np.mean]).round()

              min    max      sum   mean
Subcategory
1             1.0  953.0  17722.0  230.0
2             1.0  812.0  14430.0  187.0
3             2.0  591.0  13338.0  173.0
4            13.0  199.0   6400.0   83.0
5             2.0    2.0     22.0    2.0
6             1.0  370.0   8408.0  109.0
7             1.0  969.0  17902.0  232.0
8            13.0  200.0   6525.0   85.0
9             1.0  979.0  14668.0  190.0
10            7.0   61.0   2100.0   27.0
11            4.0  109.0   3431.0   45.0
12            1.0  160.0   2273.0   30.0
13           16.0  219.0   7400.0   96.0
14            9.0  123.0   2493.0   38.0
15            5.0  343.0   5043.0   76.0
16            1.0  837.0   4764.0   62.0
17            1.0  987.0  15837.0  206.0

In [162]:
market.loc[market["Subcategory"] == 7,'RSP'].sum()

17901.684999999998

In [163]:
share

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,AnheuserBusch InBev NV,1000 litres,2016.0,31-12-16,4.0,3.550638e+07
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,1000 litres,2016.0,31-12-16,4.0,1.848260e+07
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg AS,1000 litres,2016.0,31-12-16,4.0,1.112170e+07
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,1000 litres,2016.0,31-12-16,4.0,6.252383e+06
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.834495e+06
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp CEDC,1000 litres,2016.0,31-12-16,4.0,2.230247e+02
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,1000 litres,2016.0,31-12-16,4.0,7.855588e+01
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,1000 litres,2016.0,31-12-16,4.0,3.708014e+00
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,1000 litres,2016.0,31-12-16,4.0,3.077664e+02
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,1000 litres,2016.0,31-12-16,4.0,8.263549e+03

In [164]:
df4

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27000.0,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28000.0,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40000.0,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51000.0,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62000.0,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1204.0,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1214.0,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1227.0,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1240.0,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1256.0,14,8,2022

In [170]:
df4['Volume'].sort_values()

644       1009.0
462       1015.0
979       1015.0
1128      1025.0
715       1041.0
          ...
179     952000.0
643     973000.0
1127    983000.0
87      987000.0
716     998000.0
Name: Volume, Length: 1221, dtype: float64

In [171]:
mark = pd.read_csv('/home/mahmoud/Downloads/Dragonyte_project/Dragonyte project/Business_case/Data/Market_Sizes.csv')

In [175]:
mark

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27.000,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28.000,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40.000,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51.000,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62.000,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1.204,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1.214,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1.227,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1.240,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1.256,14,8,2022

In [177]:
dc=pd.read_csv('all_countries.csv')

In [191]:
dc

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [192]:
df=dc[['name','region','sub-region']]

In [193]:
df

                  name   region          sub-region
0          Afghanistan     Asia       Southern Asia
1        Åland Islands   Europe     Northern Europe
2              Albania   Europe     Southern Europe
3              Algeria   Africa     Northern Africa
4       American Samoa  Oceania           Polynesia
..                 ...      ...                 ...
244  Wallis and Futuna  Oceania           Polynesia
245     Western Sahara   Africa     Northern Africa
246              Yemen     Asia        Western Asia
247             Zambia   Africa  Sub-Saharan Africa
248           Zimbabwe   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [194]:
reg=pd.read_csv('regionstest.csv')

In [195]:
reg

      id          Region      Country
0      1    Asia Pacific        China
1      2    Asia Pacific        India
2      3    Asia Pacific        Japan
3      4    Asia Pacific  South Korea
4      5    Asia Pacific    Indonesia
..   ...             ...          ...
121  122  Western Europe      Finland
122  123  Western Europe       Greece
123  124  Western Europe      Iceland
124  125  Western Europe   Luxembourg
125  126  Western Europe        Malta

[126 rows x 3 columns]

In [196]:
df.values

array([['Afghanistan', 'Asia', 'Southern Asia'],
       ['Åland Islands', 'Europe', 'Northern Europe'],
       ['Albania', 'Europe', 'Southern Europe'],
       ['Algeria', 'Africa', 'Northern Africa'],
       ['American Samoa', 'Oceania', 'Polynesia'],
       ['Andorra', 'Europe', 'Southern Europe'],
       ['Angola', 'Africa', 'Sub-Saharan Africa'],
       ['Anguilla', 'Americas', 'Latin America and the Caribbean'],
       ['Antarctica', nan, nan],
       ['Antigua and Barbuda', 'Americas',
        'Latin America and the Caribbean'],
       ['Argentina', 'Americas', 'Latin America and the Caribbean'],
       ['Armenia', 'Asia', 'Western Asia'],
       ['Aruba', 'Americas', 'Latin America and the Caribbean'],
       ['Australia', 'Oceania', 'Australia and New Zealand'],
       ['Austria', 'Europe', 'Western Europe'],
       ['Azerbaijan', 'Asia', 'Western Asia'],
       ['Bahamas', 'Americas', 'Latin America and the Caribbean'],
       ['Bahrain', 'Asia', 'Western Asia'],
       ['Bangladesh', 'Asia', 'Southern Asia'],
       ['Barbados', 'Americas', 'Latin America and the Caribbean'],
       ['Belarus', 'Europe', 'Eastern Europe'],
       ['Belgium', 'Europe', 'Western Europe'],
       ['Belize', 'Americas', 'Latin America and the Caribbean'],
       ['Benin', 'Africa', 'Sub-Saharan Africa'],
       ['Bermuda', 'Americas', 'Northern America'],
       ['Bhutan', 'Asia', 'Southern Asia'],
       ['Bolivia (Plurinational State of)', 'Americas',
        'Latin America and the Caribbean'],
       ['Bonaire, Sint Eustatius and Saba', 'Americas',
        'Latin America and the Caribbean'],
       ['Bosnia and Herzegovina', 'Europe', 'Southern Europe'],
       ['Botswana', 'Africa', 'Sub-Saharan Africa'],
       ['Bouvet Island', 'Americas', 'Latin America and the Caribbean'],
       ['Brazil', 'Americas', 'Latin America and the Caribbean'],
       ['British Indian Ocean Territory', 'Africa', 'Sub-Saharan Africa'],
       ['Brunei Darussalam', 'Asia', 'South-eastern Asia'],
       ['Bulgaria', 'Europe', 'Eastern Europe'],
       ['Burkina Faso', 'Africa', 'Sub-Saharan Africa'],
       ['Burundi', 'Africa', 'Sub-Saharan Africa'],
       ['Cabo Verde', 'Africa', 'Sub-Saharan Africa'],
       ['Cambodia', 'Asia', 'South-eastern Asia'],
       ['Cameroon', 'Africa', 'Sub-Saharan Africa'],
       ['Canada', 'Americas', 'Northern America'],
       ['Cayman Islands', 'Americas', 'Latin America and the Caribbean'],
       ['Central African Republic', 'Africa', 'Sub-Saharan Africa'],
       ['Chad', 'Africa', 'Sub-Saharan Africa'],
       ['Chile', 'Americas', 'Latin America and the Caribbean'],
       ['China', 'Asia', 'Eastern Asia'],
       ['Christmas Island', 'Oceania', 'Australia and New Zealand'],
       ['Cocos (Keeling) Islands', 'Oceania',
        'Australia and New Zealand'],
       ['Colombia', 'Americas', 'Latin America and the Caribbean'],
       ['Comoros', 'Africa', 'Sub-Saharan Africa'],
       ['Congo', 'Africa', 'Sub-Saharan Africa'],
       ['Congo, Democratic Republic of the', 'Africa',
        'Sub-Saharan Africa'],
       ['Cook Islands', 'Oceania', 'Polynesia'],
       ['Costa Rica', 'Americas', 'Latin America and the Caribbean'],
       ["Côte d'Ivoire", 'Africa', 'Sub-Saharan Africa'],
       ['Croatia', 'Europe', 'Southern Europe'],
       ['Cuba', 'Americas', 'Latin America and the Caribbean'],
       ['Curaçao', 'Americas', 'Latin America and the Caribbean'],
       ['Cyprus', 'Asia', 'Western Asia'],
       ['Czechia', 'Europe', 'Eastern Europe'],
       ['Denmark', 'Europe', 'Northern Europe'],
       ['Djibouti', 'Africa', 'Sub-Saharan Africa'],
       ['Dominica', 'Americas', 'Latin America and the Caribbean'],
       ['Dominican Republic', 'Americas',
        'Latin America and the Caribbean'],
       ['Ecuador', 'Americas', 'Latin America and the Caribbean'],
       ['Egypt', 'Africa', 'Northern Africa'],
       ['El Salvador', 'Americas', 'Latin America and the Caribbean'],
       ['Equatorial Guinea', 'Africa', 'Sub-Saharan Africa'],
       ['Eritrea', 'Africa', 'Sub-Saharan Africa'],
       ['Estonia', 'Europe', 'Northern Europe'],
       ['Eswatini', 'Africa', 'Sub-Saharan Africa'],
       ['Ethiopia', 'Africa', 'Sub-Saharan Africa'],
       ['Falkland Islands (Malvinas)', 'Americas',
        'Latin America and the Caribbean'],
       ['Faroe Islands', 'Europe', 'Northern Europe'],
       ['Fiji', 'Oceania', 'Melanesia'],
       ['Finland', 'Europe', 'Northern Europe'],
       ['France', 'Europe', 'Western Europe'],
       ['French Guiana', 'Americas', 'Latin America and the Caribbean'],
       ['French Polynesia', 'Oceania', 'Polynesia'],
       ['French Southern Territories', 'Africa', 'Sub-Saharan Africa'],
       ['Gabon', 'Africa', 'Sub-Saharan Africa'],
       ['Gambia', 'Africa', 'Sub-Saharan Africa'],
       ['Georgia', 'Asia', 'Western Asia'],
       ['Germany', 'Europe', 'Western Europe'],
       ['Ghana', 'Africa', 'Sub-Saharan Africa'],
       ['Gibraltar', 'Europe', 'Southern Europe'],
       ['Greece', 'Europe', 'Southern Europe'],
       ['Greenland', 'Americas', 'Northern America'],
       ['Grenada', 'Americas', 'Latin America and the Caribbean'],
       ['Guadeloupe', 'Americas', 'Latin America and the Caribbean'],
       ['Guam', 'Oceania', 'Micronesia'],
       ['Guatemala', 'Americas', 'Latin America and the Caribbean'],
       ['Guernsey', 'Europe', 'Northern Europe'],
       ['Guinea', 'Africa', 'Sub-Saharan Africa'],
       ['Guinea-Bissau', 'Africa', 'Sub-Saharan Africa'],
       ['Guyana', 'Americas', 'Latin America and the Caribbean'],
       ['Haiti', 'Americas', 'Latin America and the Caribbean'],
       ['Heard Island and McDonald Islands', 'Oceania',
        'Australia and New Zealand'],
       ['Holy See', 'Europe', 'Southern Europe'],
       ['Honduras', 'Americas', 'Latin America and the Caribbean'],
       ['Hong Kong', 'Asia', 'Eastern Asia'],
       ['Hungary', 'Europe', 'Eastern Europe'],
       ['Iceland', 'Europe', 'Northern Europe'],
       ['India', 'Asia', 'Southern Asia'],
       ['Indonesia', 'Asia', 'South-eastern Asia'],
       ['Iran (Islamic Republic of)', 'Asia', 'Southern Asia'],
       ['Iraq', 'Asia', 'Western Asia'],
       ['Ireland', 'Europe', 'Northern Europe'],
       ['Isle of Man', 'Europe', 'Northern Europe'],
       ['Israel', 'Asia', 'Western Asia'],
       ['Italy', 'Europe', 'Southern Europe'],
       ['Jamaica', 'Americas', 'Latin America and the Caribbean'],
       ['Japan', 'Asia', 'Eastern Asia'],
       ['Jersey', 'Europe', 'Northern Europe'],
       ['Jordan', 'Asia', 'Western Asia'],
       ['Kazakhstan', 'Asia', 'Central Asia'],
       ['Kenya', 'Africa', 'Sub-Saharan Africa'],
       ['Kiribati', 'Oceania', 'Micronesia'],
       ["Korea (Democratic People's Republic of)", 'Asia',
        'Eastern Asia'],
       ['Korea, Republic of', 'Asia', 'Eastern Asia'],
       ['Kuwait', 'Asia', 'Western Asia'],
       ['Kyrgyzstan', 'Asia', 'Central Asia'],
       ["Lao People's Democratic Republic", 'Asia', 'South-eastern Asia'],
       ['Latvia', 'Europe', 'Northern Europe'],
       ['Lebanon', 'Asia', 'Western Asia'],
       ['Lesotho', 'Africa', 'Sub-Saharan Africa'],
       ['Liberia', 'Africa', 'Sub-Saharan Africa'],
       ['Libya', 'Africa', 'Northern Africa'],
       ['Liechtenstein', 'Europe', 'Western Europe'],
       ['Lithuania', 'Europe', 'Northern Europe'],
       ['Luxembourg', 'Europe', 'Western Europe'],
       ['Macao', 'Asia', 'Eastern Asia'],
       ['Madagascar', 'Africa', 'Sub-Saharan Africa'],
       ['Malawi', 'Africa', 'Sub-Saharan Africa'],
       ['Malaysia', 'Asia', 'South-eastern Asia'],
       ['Maldives', 'Asia', 'Southern Asia'],
       ['Mali', 'Africa', 'Sub-Saharan Africa'],
       ['Malta', 'Europe', 'Southern Europe'],
       ['Marshall Islands', 'Oceania', 'Micronesia'],
       ['Martinique', 'Americas', 'Latin America and the Caribbean'],
       ['Mauritania', 'Africa', 'Sub-Saharan Africa'],
       ['Mauritius', 'Africa', 'Sub-Saharan Africa'],
       ['Mayotte', 'Africa', 'Sub-Saharan Africa'],
       ['Mexico', 'Americas', 'Latin America and the Caribbean'],
       ['Micronesia (Federated States of)', 'Oceania', 'Micronesia'],
       ['Moldova, Republic of', 'Europe', 'Eastern Europe'],
       ['Monaco', 'Europe', 'Western Europe'],
       ['Mongolia', 'Asia', 'Eastern Asia'],
       ['Montenegro', 'Europe', 'Southern Europe'],
       ['Montserrat', 'Americas', 'Latin America and the Caribbean'],
       ['Morocco', 'Africa', 'Northern Africa'],
       ['Mozambique', 'Africa', 'Sub-Saharan Africa'],
       ['Myanmar', 'Asia', 'South-eastern Asia'],
       ['Namibia', 'Africa', 'Sub-Saharan Africa'],
       ['Nauru', 'Oceania', 'Micronesia'],
       ['Nepal', 'Asia', 'Southern Asia'],
       ['Netherlands', 'Europe', 'Western Europe'],
       ['New Caledonia', 'Oceania', 'Melanesia'],
       ['New Zealand', 'Oceania', 'Australia and New Zealand'],
       ['Nicaragua', 'Americas', 'Latin America and the Caribbean'],
       ['Niger', 'Africa', 'Sub-Saharan Africa'],
       ['Nigeria', 'Africa', 'Sub-Saharan Africa'],
       ['Niue', 'Oceania', 'Polynesia'],
       ['Norfolk Island', 'Oceania', 'Australia and New Zealand'],
       ['North Macedonia', 'Europe', 'Southern Europe'],
       ['Northern Mariana Islands', 'Oceania', 'Micronesia'],
       ['Norway', 'Europe', 'Northern Europe'],
       ['Oman', 'Asia', 'Western Asia'],
       ['Pakistan', 'Asia', 'Southern Asia'],
       ['Palau', 'Oceania', 'Micronesia'],
       ['Palestine, State of', 'Asia', 'Western Asia'],
       ['Panama', 'Americas', 'Latin America and the Caribbean'],
       ['Papua New Guinea', 'Oceania', 'Melanesia'],
       ['Paraguay', 'Americas', 'Latin America and the Caribbean'],
       ['Peru', 'Americas', 'Latin America and the Caribbean'],
       ['Philippines', 'Asia', 'South-eastern Asia'],
       ['Pitcairn', 'Oceania', 'Polynesia'],
       ['Poland', 'Europe', 'Eastern Europe'],
       ['Portugal', 'Europe', 'Southern Europe'],
       ['Puerto Rico', 'Americas', 'Latin America and the Caribbean'],
       ['Qatar', 'Asia', 'Western Asia'],
       ['Réunion', 'Africa', 'Sub-Saharan Africa'],
       ['Romania', 'Europe', 'Eastern Europe'],
       ['Russian Federation', 'Europe', 'Eastern Europe'],
       ['Rwanda', 'Africa', 'Sub-Saharan Africa'],
       ['Saint Barthélemy', 'Americas',
        'Latin America and the Caribbean'],
       ['Saint Helena, Ascension and Tristan da Cunha', 'Africa',
        'Sub-Saharan Africa'],
       ['Saint Kitts and Nevis', 'Americas',
        'Latin America and the Caribbean'],
       ['Saint Lucia', 'Americas', 'Latin America and the Caribbean'],
       ['Saint Martin (French part)', 'Americas',
        'Latin America and the Caribbean'],
       ['Saint Pierre and Miquelon', 'Americas', 'Northern America'],
       ['Saint Vincent and the Grenadines', 'Americas',
        'Latin America and the Caribbean'],
       ['Samoa', 'Oceania', 'Polynesia'],
       ['San Marino', 'Europe', 'Southern Europe'],
       ['Sao Tome and Principe', 'Africa', 'Sub-Saharan Africa'],
       ['Saudi Arabia', 'Asia', 'Western Asia'],
       ['Senegal', 'Africa', 'Sub-Saharan Africa'],
       ['Serbia', 'Europe', 'Southern Europe'],
       ['Seychelles', 'Africa', 'Sub-Saharan Africa'],
       ['Sierra Leone', 'Africa', 'Sub-Saharan Africa'],
       ['Singapore', 'Asia', 'South-eastern Asia'],
       ['Sint Maarten (Dutch part)', 'Americas',
        'Latin America and the Caribbean'],
       ['Slovakia', 'Europe', 'Eastern Europe'],
       ['Slovenia', 'Europe', 'Southern Europe'],
       ['Solomon Islands', 'Oceania', 'Melanesia'],
       ['Somalia', 'Africa', 'Sub-Saharan Africa'],
       ['South Africa', 'Africa', 'Sub-Saharan Africa'],
       ['South Georgia and the South Sandwich Islands', 'Americas',
        'Latin America and the Caribbean'],
       ['South Sudan', 'Africa', 'Sub-Saharan Africa'],
       ['Spain', 'Europe', 'Southern Europe'],
       ['Sri Lanka', 'Asia', 'Southern Asia'],
       ['Sudan', 'Africa', 'Northern Africa'],
       ['Suriname', 'Americas', 'Latin America and the Caribbean'],
       ['Svalbard and Jan Mayen', 'Europe', 'Northern Europe'],
       ['Sweden', 'Europe', 'Northern Europe'],
       ['Switzerland', 'Europe', 'Western Europe'],
       ['Syrian Arab Republic', 'Asia', 'Western Asia'],
       ['Taiwan, Province of China', 'Asia', 'Eastern Asia'],
       ['Tajikistan', 'Asia', 'Central Asia'],
       ['Tanzania, United Republic of', 'Africa', 'Sub-Saharan Africa'],
       ['Thailand', 'Asia', 'South-eastern Asia'],
       ['Timor-Leste', 'Asia', 'South-eastern Asia'],
       ['Togo', 'Africa', 'Sub-Saharan Africa'],
       ['Tokelau', 'Oceania', 'Polynesia'],
       ['Tonga', 'Oceania', 'Polynesia'],
       ['Trinidad and Tobago', 'Americas',
        'Latin America and the Caribbean'],
       ['Tunisia', 'Africa', 'Northern Africa'],
       ['Turkey', 'Asia', 'Western Asia'],
       ['Turkmenistan', 'Asia', 'Central Asia'],
       ['Turks and Caicos Islands', 'Americas',
        'Latin America and the Caribbean'],
       ['Tuvalu', 'Oceania', 'Polynesia'],
       ['Uganda', 'Africa', 'Sub-Saharan Africa'],
       ['Ukraine', 'Europe', 'Eastern Europe'],
       ['United Arab Emirates', 'Asia', 'Western Asia'],
       ['United Kingdom of Great Britain and Northern Ireland', 'Europe',
        'Northern Europe'],
       ['United States of America', 'Americas', 'Northern America'],
       ['United States Minor Outlying Islands', 'Oceania', 'Micronesia'],
       ['Uruguay', 'Americas', 'Latin America and the Caribbean'],
       ['Uzbekistan', 'Asia', 'Central Asia'],
       ['Vanuatu', 'Oceania', 'Melanesia'],
       ['Venezuela (Bolivarian Republic of)', 'Americas',
        'Latin America and the Caribbean'],
       ['Viet Nam', 'Asia', 'South-eastern Asia'],
       ['Virgin Islands (British)', 'Americas',
        'Latin America and the Caribbean'],
       ['Virgin Islands (U.S.)', 'Americas',
        'Latin America and the Caribbean'],
       ['Wallis and Futuna', 'Oceania', 'Polynesia'],
       ['Western Sahara', 'Africa', 'Northern Africa'],
       ['Yemen', 'Asia', 'Western Asia'],
       ['Zambia', 'Africa', 'Sub-Saharan Africa'],
       ['Zimbabwe', 'Africa', 'Sub-Saharan Africa']], dtype=object)

In [197]:
reg['Region'].unique()

array(['Asia Pacific', 'Australasia', 'Eastern Europe', 'Latin America',
       'Middle East and Africa', 'North America', 'Western Europe'],
      dtype=object)

In [199]:
df['sub-region'].unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Sub-Saharan Africa',
       'Latin America and the Caribbean', nan, 'Western Asia',
       'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
       'Northern America', 'South-eastern Asia', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [201]:
df.loc[df['sub-region'] == 'Western Asia','name']

11                  Armenia
15               Azerbaijan
17                  Bahrain
58                   Cyprus
82                  Georgia
106                    Iraq
109                  Israel
114                  Jordan
120                  Kuwait
124                 Lebanon
167                    Oman
170     Palestine, State of
180                   Qatar
195            Saudi Arabia
216    Syrian Arab Republic
227                  Turkey
233    United Arab Emirates
246                   Yemen
Name: name, dtype: object

In [203]:
reg[reg['Region']=='Australasia']

    id       Region           Country
19  20  Australasia         Australia
20  21  Australasia       New Zealand
21  22  Australasia  Papua New Guinea
22  23  Australasia              Fiji
23  24  Australasia   Solomon Islands

In [204]:
reg[reg['Region']=='Eastern Europe']

    id          Region         Country
24  25  Eastern Europe          Russia
25  26  Eastern Europe          Poland
26  27  Eastern Europe         Ukraine
27  28  Eastern Europe         Hungary
28  29  Eastern Europe  Czech Republic
29  30  Eastern Europe         Romania
30  31  Eastern Europe        Bulgaria

In [205]:
df.loc[df['sub-region'] == 'Eastern Europe','name']

20                  Belarus
34                 Bulgaria
59                  Czechia
101                 Hungary
145    Moldova, Republic of
177                  Poland
182                 Romania
183      Russian Federation
202                Slovakia
232                 Ukraine
Name: name, dtype: object

In [206]:
df.loc[df['sub-region'] == 'Northern Europe','name']

1                                          Åland Islands
60                                               Denmark
69                                               Estonia
73                                         Faroe Islands
75                                               Finland
92                                              Guernsey
102                                              Iceland
107                                              Ireland
108                                          Isle of Man
113                                               Jersey
123                                               Latvia
129                                            Lithuania
166                                               Norway
213                               Svalbard and Jan Mayen
214                                               Sweden
234    United Kingdom of Great Britain and Northern I...
Name: name, dtype: object

In [207]:
df.loc[df['sub-region'] == 'Western Europe','name']

14           Austria
21           Belgium
76            France
83           Germany
128    Liechtenstein
130       Luxembourg
146           Monaco
156      Netherlands
215      Switzerland
Name: name, dtype: object

In [208]:
reg[reg['Region']=='Western Europe']

      id          Region         Country
107  108  Western Europe         Germany
108  109  Western Europe          France
109  110  Western Europe  United Kingdom
110  111  Western Europe           Italy
111  112  Western Europe           Spain
112  113  Western Europe     Netherlands
113  114  Western Europe     Switzerland
114  115  Western Europe         Belgium
115  116  Western Europe         Austria
116  117  Western Europe          Sweden
117  118  Western Europe         Denmark
118  119  Western Europe          Norway
119  120  Western Europe         Ireland
120  121  Western Europe        Portugal
121  122  Western Europe         Finland
122  123  Western Europe          Greece
123  124  Western Europe         Iceland
124  125  Western Europe      Luxembourg
125  126  Western Europe           Malta

In [213]:
filt= (df['sub-region'] == 'Southern Asia') | (df['sub-region'] == 'Eastern Asia') | (df['sub-region'] == 'South-eastern Asia') | (df['sub-region'] == 'Central Asia')
df.loc[filt,'name']

0                                  Afghanistan
18                                  Bangladesh
25                                      Bhutan
33                           Brunei Darussalam
38                                    Cambodia
45                                       China
100                                  Hong Kong
103                                      India
104                                  Indonesia
105                 Iran (Islamic Republic of)
112                                      Japan
115                                 Kazakhstan
118    Korea (Democratic People's Republic of)
119                         Korea, Republic of
121                                 Kyrgyzstan
122           Lao People's Democratic Republic
131                                      Macao
134                                   Malaysia
135                                   Maldives
147                                   Mongolia
152                                    Myanmar
155                                      Nepal
168                                   Pakistan
175                                Philippines
200                                  Singapore
210                                  Sri Lanka
217                  Taiwan, Province of China
218                                 Tajikistan
220                                   Thailand
221                                Timor-Leste
228                               Turkmenistan
238                                 Uzbekistan
241                                   Viet Nam
Name: name, dtype: object

In [218]:
df.loc[filt,'New Regions'] = 'Asia Pacific'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [219]:
df

                  name   region          sub-region   New Regions
0          Afghanistan     Asia       Southern Asia  Asia Pacific
1        Åland Islands   Europe     Northern Europe             0
2              Albania   Europe     Southern Europe             0
3              Algeria   Africa     Northern Africa             0
4       American Samoa  Oceania           Polynesia             0
..                 ...      ...                 ...           ...
244  Wallis and Futuna  Oceania           Polynesia             0
245     Western Sahara   Africa     Northern Africa             0
246              Yemen     Asia        Western Asia             0
247             Zambia   Africa  Sub-Saharan Africa             0
248           Zimbabwe   Africa  Sub-Saharan Africa             0

[249 rows x 4 columns]

,name,region,sub-region,New Regions
0,Afghanistan,Asia,Southern Asia,Asia Pacific
18,Bangladesh,Asia,Southern Asia,Asia Pacific
25,Bhutan,Asia,Southern Asia,Asia Pacific
33,Brunei Darussalam,Asia,South-eastern Asia,Asia Pacific
38,Cambodia,Asia,South-eastern Asia,Asia Pacific
45,China,Asia,Eastern Asia,Asia Pacific
100,Hong Kong,Asia,Eastern Asia,Asia Pacific
103,India,Asia,Southern Asia,Asia Pacific
104,Indonesia,Asia,South-eastern Asia,Asia Pacific
105,Iran (Islamic Republic of),Asia,Southern Asia,Asia Pacific
112,Japan,Asia,Eastern Asia,Asia Pacific
115,Kazakhstan,Asia,Central Asia,Asia Pacific
118,Korea (Democratic People's Republic of),Asia,Eastern Asia,Asia Pacific
119,"Korea, Republic of",Asia,Eastern Asia,Asia Pacific
121,Kyrgyzstan,Asia,Central Asia,Asia Pacific
122,Lao People's Democratic Republic,Asia,South-eastern Asia,Asia Pacific
131,Macao,Asia,Eastern Asia,Asia Pacific
134,Malaysia,Asia,South-eastern Asia,Asia Pacific
135,Maldives,Asia,Southern Asia,Asia Pacific
147,Mongolia,Asia,Eastern Asia,Asia Pacific
152,Myanmar,Asia,South-eastern Asia,Asia Pacific
155,Nepal,Asia,Southern Asia,Asia Pacific
168,Pakistan,Asia,Southern Asia,Asia Pacific
175,Philippines,Asia,South-eastern Asia,Asia Pacific
200,Singapore,Asia,South-eastern Asia,Asia Pacific
210,Sri Lanka,Asia,Southern Asia,Asia Pacific
217,"Taiwan, Province of China",Asia,Eastern Asia,Asia Pacific
218,Tajikistan,Asia,Central Asia,Asia Pacific
220,Thailand,Asia,South-eastern Asia,Asia Pacific
221,Timor-Leste,Asia,South-eastern Asia,Asia Pacific
228,Turkmenistan,Asia,Central Asia,Asia Pacific
238,Uzbekistan,Asia,Central Asia,Asia Pacific
241,Viet Nam,Asia,South-eastern Asia,Asia Pacific

In [223]:
filt_Aus= (df['sub-region'] == 'Australia and New Zealand')
df.loc[filt_Aus,'name']

13                             Australia
46                      Christmas Island
47               Cocos (Keeling) Islands
97     Heard Island and McDonald Islands
158                          New Zealand
163                       Norfolk Island
Name: name, dtype: object

In [224]:
df.loc[filt_Aus,'New Regions'] = 'Australasia'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/lib/python3/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [225]:
df['sub-region'].unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Sub-Saharan Africa',
       'Latin America and the Caribbean', nan, 'Western Asia',
       'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
       'Northern America', 'South-eastern Asia', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [226]:
reg['Region'].unique()

array(['Asia Pacific', 'Australasia', 'Eastern Europe', 'Latin America',
       'Middle East and Africa', 'North America', 'Western Europe'],
      dtype=object)

In [228]:
df[df['New Regions'] == 'Australasia']

,name,region,sub-region,New Regions
13,Australia,Oceania,Australia and New Zealand,Australasia
46,Christmas Island,Oceania,Australia and New Zealand,Australasia
47,Cocos (Keeling) Islands,Oceania,Australia and New Zealand,Australasia
97,Heard Island and McDonald Islands,Oceania,Australia and New Zealand,Australasia
158,New Zealand,Oceania,Australia and New Zealand,Australasia
163,Norfolk Island,Oceania,Australia and New Zealand,Australasia

In [229]:
filt_mid= (df['sub-region'] == 'Northern Africa') | (df['sub-region'] == 'Sub-Saharan Africa') | (df['sub-region'] == 'Western Asia') 
df.loc[filt_mid,'name']

3                   Algeria
6                    Angola
11                  Armenia
15               Azerbaijan
17                  Bahrain
               ...
233    United Arab Emirates
245          Western Sahara
246                   Yemen
247                  Zambia
248                Zimbabwe
Name: name, Length: 78, dtype: object

In [230]:
df.loc[filt_mid,'New Regions'] = 'Middle East and Africa'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/lib/python3/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

                     name  region          sub-region             New Regions
3                 Algeria  Africa     Northern Africa  Middle East and Africa
6                  Angola  Africa  Sub-Saharan Africa  Middle East and Africa
11                Armenia    Asia        Western Asia  Middle East and Africa
15             Azerbaijan    Asia        Western Asia  Middle East and Africa
17                Bahrain    Asia        Western Asia  Middle East and Africa
..                    ...     ...                 ...                     ...
233  United Arab Emirates    Asia        Western Asia  Middle East and Africa
245        Western Sahara  Africa     Northern Africa  Middle East and Africa
246                 Yemen    Asia        Western Asia  Middle East and Africa
247                Zambia  Africa  Sub-Saharan Africa  Middle East and Africa
248              Zimbabwe  Africa  Sub-Saharan Africa  Middle East and Africa

[78 rows x 4 columns]

In [233]:
df['sub-region'].unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Sub-Saharan Africa',
       'Latin America and the Caribbean', nan, 'Western Asia',
       'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
       'Northern America', 'South-eastern Asia', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [234]:
reg['Region'].unique()

array(['Asia Pacific', 'Australasia', 'Eastern Europe', 'Latin America',
       'Middle East and Africa', 'North America', 'Western Europe'],
      dtype=object)

In [247]:
filt_East= (df['sub-region'] == 'Eastern Europe') 
df.loc[filt_East,'name']

20                  Belarus
34                 Bulgaria
59                  Czechia
101                 Hungary
145    Moldova, Republic of
177                  Poland
182                 Romania
183      Russian Federation
202                Slovakia
232                 Ukraine
Name: name, dtype: object

In [248]:
df.loc[filt_East,'New Regions'] = 'Eastern Europe'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/lib/python3/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [280]:
filt_West= (df['sub-region'] == 'Western Europe') | (df['sub-region'] == 'Northern Europe') | (df['sub-region'] == 'Southern Europe')
df.loc[filt_West,'name']

1                                          Åland Islands
2                                                Albania
5                                                Andorra
14                                               Austria
21                                               Belgium
28                                Bosnia and Herzegovina
55                                               Croatia
60                                               Denmark
69                                               Estonia
73                                         Faroe Islands
75                                               Finland
76                                                France
83                                               Germany
85                                             Gibraltar
86                                                Greece
92                                              Guernsey
98                                              Holy See
102                                              Iceland
107                                              Ireland
108                                          Isle of Man
110                                                Italy
113                                               Jersey
123                                               Latvia
128                                        Liechtenstein
129                                            Lithuania
130                                           Luxembourg
137                                                Malta
146                                               Monaco
148                                           Montenegro
156                                          Netherlands
164                                      North Macedonia
166                                               Norway
178                                             Portugal
193                                           San Marino
197                                               Serbia
203                                             Slovenia
209                                                Spain
213                               Svalbard and Jan Mayen
214                                               Sweden
215                                          Switzerland
234    United Kingdom of Great Britain and Northern I...
Name: name, dtype: object

In [281]:
df.loc[filt_West,'New Regions'] = 'Western Europe'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/lib/python3/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [258]:
filt_NorA= (df['sub-region'] == 'Northern America')
df.loc[filt_NorA,'name']

24                       Bermuda
40                        Canada
87                     Greenland
190    Saint Pierre and Miquelon
235     United States of America
Name: name, dtype: object

In [259]:
df.loc[filt_NorA,'New Regions'] = 'North America'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/lib/python3/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [270]:
df.loc[df['sub-region'].isnull(),'name']

8    Antarctica
Name: name, dtype: object

In [269]:
df

                  name   region          sub-region             New Regions
0          Afghanistan     Asia       Southern Asia            Asia Pacific
1        Åland Islands   Europe     Northern Europe                       0
2              Albania   Europe     Southern Europe                       0
3              Algeria   Africa     Northern Africa  Middle East and Africa
4       American Samoa  Oceania           Polynesia                       0
..                 ...      ...                 ...                     ...
244  Wallis and Futuna  Oceania           Polynesia                       0
245     Western Sahara   Africa     Northern Africa  Middle East and Africa
246              Yemen     Asia        Western Asia  Middle East and Africa
247             Zambia   Africa  Sub-Saharan Africa  Middle East and Africa
248           Zimbabwe   Africa  Sub-Saharan Africa  Middle East and Africa

[249 rows x 4 columns]

In [272]:
filt_lat= (df['sub-region'] == 'Latin America and the Caribbean')
df.loc[filt_lat,'name']

7                                          Anguilla
9                               Antigua and Barbuda
10                                        Argentina
12                                            Aruba
16                                          Bahamas
19                                         Barbados
22                                           Belize
26                 Bolivia (Plurinational State of)
27                 Bonaire, Sint Eustatius and Saba
30                                    Bouvet Island
31                                           Brazil
41                                   Cayman Islands
44                                            Chile
48                                         Colombia
53                                       Costa Rica
56                                             Cuba
57                                          Curaçao
62                                         Dominica
63                               Dominican Republic
64                                          Ecuador
66                                      El Salvador
72                      Falkland Islands (Malvinas)
77                                    French Guiana
88                                          Grenada
89                                       Guadeloupe
91                                        Guatemala
95                                           Guyana
96                                            Haiti
99                                         Honduras
111                                         Jamaica
139                                      Martinique
143                                          Mexico
149                                      Montserrat
159                                       Nicaragua
171                                          Panama
173                                        Paraguay
174                                            Peru
179                                     Puerto Rico
185                                Saint Barthélemy
187                           Saint Kitts and Nevis
188                                     Saint Lucia
189                      Saint Martin (French part)
191                Saint Vincent and the Grenadines
201                       Sint Maarten (Dutch part)
207    South Georgia and the South Sandwich Islands
212                                        Suriname
225                             Trinidad and Tobago
229                        Turks and Caicos Islands
237                                         Uruguay
240              Venezuela (Bolivarian Republic of)
242                        Virgin Islands (British)
243                           Virgin Islands (U.S.)
Name: name, dtype: object

In [273]:
df.loc[filt_lat,'New Regions'] = 'Latin America'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/lib/python3/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [277]:
reg['Region'].unique()

array(['Asia Pacific', 'Australasia', 'Eastern Europe', 'Latin America',
       'Middle East and Africa', 'North America', 'Western Europe'],
      dtype=object)

In [278]:
df['sub-region'].unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Sub-Saharan Africa',
       'Latin America and the Caribbean', nan, 'Western Asia',
       'Australia and New Zealand', 'Western Europe', 'Eastern Europe',
       'Northern America', 'South-eastern Asia', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [282]:
filt_w= (df['sub-region'] == 'Polynesia') | (df['sub-region'] == 'Melanesia') | (df['sub-region'] == 'Micronesia')  
df.loc[filt_w,'name']

4                            American Samoa
52                             Cook Islands
74                                     Fiji
78                         French Polynesia
90                                     Guam
117                                Kiribati
138                        Marshall Islands
144        Micronesia (Federated States of)
154                                   Nauru
157                           New Caledonia
162                                    Niue
165                Northern Mariana Islands
169                                   Palau
172                        Papua New Guinea
176                                Pitcairn
192                                   Samoa
204                         Solomon Islands
223                                 Tokelau
224                                   Tonga
230                                  Tuvalu
236    United States Minor Outlying Islands
239                                 Vanuatu
244                       Wallis and Futuna
Name: name, dtype: object

In [301]:
df.loc[filt_w,'New Regions'] = 'World'

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [284]:
df

                  name   region          sub-region             New Regions
0          Afghanistan     Asia       Southern Asia            Asia Pacific
1        Åland Islands   Europe     Northern Europe          Western Europe
2              Albania   Europe     Southern Europe          Western Europe
3              Algeria   Africa     Northern Africa  Middle East and Africa
4       American Samoa  Oceania           Polynesia                   world
..                 ...      ...                 ...                     ...
244  Wallis and Futuna  Oceania           Polynesia                   world
245     Western Sahara   Africa     Northern Africa  Middle East and Africa
246              Yemen     Asia        Western Asia  Middle East and Africa
247             Zambia   Africa  Sub-Saharan Africa  Middle East and Africa
248           Zimbabwe   Africa  Sub-Saharan Africa  Middle East and Africa

[249 rows x 4 columns]

In [287]:
reg

      id          Region      Country
0      1    Asia Pacific        China
1      2    Asia Pacific        India
2      3    Asia Pacific        Japan
3      4    Asia Pacific  South Korea
4      5    Asia Pacific    Indonesia
..   ...             ...          ...
121  122  Western Europe      Finland
122  123  Western Europe       Greece
123  124  Western Europe      Iceland
124  125  Western Europe   Luxembourg
125  126  Western Europe        Malta

[126 rows x 3 columns]

In [289]:
df['New Regions'].unique()

array(['Asia Pacific', 'Western Europe', 'Middle East and Africa',
       'world', 'Latin America', 0, 'Australasia', 'Eastern Europe',
       'North America'], dtype=object)

In [302]:
filt = df['New Regions'] == 'World'
df.loc[filt,'id'] = 8

In [303]:
df

,name,region,sub-region,New Regions,id
0,Afghanistan,Asia,Southern Asia,Asia Pacific,1.0
1,Åland Islands,Europe,Northern Europe,Western Europe,7.0
2,Albania,Europe,Southern Europe,Western Europe,7.0
3,Algeria,Africa,Northern Africa,Middle East and Africa,5.0
4,American Samoa,Oceania,Polynesia,World,8.0
...,...,...,...,...,...
244,Wallis and Futuna,Oceania,Polynesia,World,8.0
245,Western Sahara,Africa,Northern Africa,Middle East and Africa,5.0
246,Yemen,Asia,Western Asia,Middle East and Africa,5.0
247,Zambia,Africa,Sub-Saharan Africa,Middle East and Africa,5.0
248,Zimbabwe,Africa,Sub-Saharan Africa,Middle East and Africa,5.0

In [304]:
fin = df[['id','name','New Regions']]

In [305]:
fin

      id               name             New Regions
0    1.0        Afghanistan            Asia Pacific
1    7.0      Åland Islands          Western Europe
2    7.0            Albania          Western Europe
3    5.0            Algeria  Middle East and Africa
4    8.0     American Samoa                   World
..   ...                ...                     ...
244  8.0  Wallis and Futuna                   World
245  5.0     Western Sahara  Middle East and Africa
246  5.0              Yemen  Middle East and Africa
247  5.0             Zambia  Middle East and Africa
248  5.0           Zimbabwe  Middle East and Africa

[249 rows x 3 columns]

In [306]:
fin=fin.rename(columns = {'name':'Country','New Regions':'Region'
                          })

In [307]:
fin

      id            Country                  Region
0    1.0        Afghanistan            Asia Pacific
1    7.0      Åland Islands          Western Europe
2    7.0            Albania          Western Europe
3    5.0            Algeria  Middle East and Africa
4    8.0     American Samoa                   World
..   ...                ...                     ...
244  8.0  Wallis and Futuna                   World
245  5.0     Western Sahara  Middle East and Africa
246  5.0              Yemen  Middle East and Africa
247  5.0             Zambia  Middle East and Africa
248  5.0           Zimbabwe  Middle East and Africa

[249 rows x 3 columns]

In [312]:
fin.loc[fin['id'].isnull(),'Country']

8    Antarctica
Name: Country, dtype: object

In [313]:
filt = fin['Country'] =='Antarctica'

In [314]:
fin.loc[filt,'id'] = 8

In [315]:
fin.loc[fin['id'].isnull(),'Country']

Series([], Name: Country, dtype: object)

In [316]:
fin[filt]

    id     Country Region
8  8.0  Antarctica      0

In [317]:
fin.loc[filt,'Region'] = 'World'

In [318]:
fin[filt]

    id     Country Region
8  8.0  Antarctica  World

In [ ]:
fin = fin.astype({"Living area (m²)":"float"})